
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" contents="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link href="simpledesign.css" rel="stylesheet">
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">"


</head>
<body>
    
    <div class="wrapper">
        <h2>Registration Form</h2>
        <div class="form-conteniar">
         <form>
             <div class="input-name">
                 <i class="fa fa-user lock"></i>
                 <input type="text" placeholder="Student ID" class="name">
                 </div>
                <!--<span>
                     <i class="fa fa-user lock"></i>
                     <input type="text" placeholder="Number of Leaves" class="name">
                 </span>-->
                 <div class="input-name">
                     <i class="fa fa-user lock"></i>
                     <input type="text" placeholder="Student name" required class="text-name">
                 </div>
                 <div class="input-name">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Gender" required class="gname">
                   </div> 
                 <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="text" placeholder="Student Department" required class="cname">
                   </div>
                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="email" placeholder="Student email" required class="sname">
                   </div>  
                   <div class="input-name">
                       <input class="button" type="submit" value="Register">
                   </div>
         </form>
    </div>
</body>


</html>
