
      <div class="wrapper">
        <h2>Registration Form</h2>
        <div class="form-conteniar">
         <form #fom="ngForm">
             <div class="input-name">
                 <i class="fa fa-user lock"></i>
                 <!-- <input type="text" placeholder="Student ID" class="name" name="id" [(ngModel)]="id"> -->
                 </div>
                 <div class="input-name">
                     <i class="fa fa-user lock"></i>
                     <input type="text" placeholder="Student name" required class="text-name" name="name" [(ngModel)]="name">
                 </div>
                 <div class="input-name">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="email" required class="gname" name="email" [(ngModel)]="email">
                   </div>
                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="text" placeholder="Password" required class="cname" name="password" [(ngModel)]="password">
                   </div>
                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="text" placeholder="Address" required class="cname" name="address" [(ngModel)]="address">
                   </div>
                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="text" placeholder="semester" required class="sname" name="semester" [(ngModel)]="semester">
                   </div>
                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="text" placeholder="Fees" required class="cname" name="fees" [(ngModel)]="fees">
                   </div>
                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="text" placeholder="Attendance" required class="cname" name="attendance" [(ngModel)]="attendance">
                   </div>
                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="text" placeholder="result" required class="cname" name="result" [(ngModel)]="result">
                   </div>


                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type="text" placeholder="Phone Number" required class="cname" name="number" [(ngModel)]="number">
                   </div>
                   <div class="input-name">
                    <i class="fa fa-user lock"></i>
                    <input type ="text" value="Student" class="cname" disabled/>
                                     </div>

                   <div class="input-name">
                       <input class="button" type="submit" value="Register" (click)="insertStudent()">
                   </div>
         </form>
    </div>

