

<h4>Feel free to ask your queries, Our supervisors will guide you</h4>

<div class="row text-center">
  <!-- Team item-->
  <div class="col-xl-3 col-sm-6 mb-5">

    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Srivatsa Malali</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><p>Phone: 7349759475</p></li>
        <li class="list-inline-item"><p>Email: srivatsa.a.malali@gmail.com</p></li>
      </ul>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-xl-3 col-sm-6 mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Venkamma Shalavadi</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><p>Phone: 7349090392</p></li>
        <li class="list-inline-item"><p>Email: @priyankashalavadi@gmail.com</p></li>
      </ul>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-xl-3 col-sm-6 mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Sarayu</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><p>Phone: 7328094385</p></li>
        <li class="list-inline-item"><p>Email: msarayu1998@gmail.com</p></li>
      </ul>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-xl-3 col-sm-6 mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Smruti</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><p>Phone: 8329211636</p></li>
        <li class="list-inline-item"><p>Email: patilsmrutidilip@gmail.com</p></li>
      </ul>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Priyam</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><p>Phone: 8697483168</p></li>
        <li class="list-inline-item"><p>Email: priyamhalder14@gmail.com</p></li>
      </ul>
    </div>
  </div>
