<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>


      <!-- The content half -->
      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">

              <!-- Demo content-->
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h3 class="display-4" style="text-align: center;">Dashboard</h3><br><br>

                          <form #fom="ngForm">
                              <div class="form-group mb-3">
                                  <input id="text" type="text" placeholder="User Name" required="" [(ngModel)]="userName" name="userName" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                              </div>
                              <div class="form-group mb-3">
                                  <input id="inputPassword" type="password" placeholder="Password" [(ngModel)]="password" name="password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                  <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                  <label for="customCheck1" class="custom-control-label">Remember password</label>
                              </div>



                              <div class="row justify-content-center">

                                <button type="submit" (click)="onSubmit()"  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login in</button>

                                <br>
                              <!-- <button type="submit" (click)="onRegister()" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Register</button> -->
                              <br>
                              <button type="submit"  routerLink="/leclogin" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login in as lecturer</button>

                            </div>
                              <div class="text-center d-flex justify-content-between mt-4"><p>By  <a href="AboutUs" class="font-italic text-muted">
                                      <u>EduClass</u></a></p></div>
                          </form>
                      </div>
                  </div>
              </div>

          </div>
      </div>

  </div>
</div>


<!--
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div> -->
