<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative">
<body style="align-items: center;">
  <h1 style="padding-left:160px ;"></h1>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <h2 id="h2">Student Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- <h6 class="thistitle">Enter your Student name: </h6>
        <input type="text" >
        <h6 class="thistitle">Enter your Student Password : </h6>
        <input type="password" > -->

        <input type="text" placeholder="name" formControlName="studUsername" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.empId.errors }" />


        <input type="password" placeholder="password" formControlName="studPassword" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.empId.errors }" />

        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button><br>
      </div>
    </form>
  </body>
  </div>
  </section>