<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
    <h1>Your New Online Presence with Edu Class</h1>
    <h2>We are team of talented Guides working together to bring up new talents</h2>

    <!-- <a (click)="scroll(target)" class="btn btn-info" role="button">Get Started</a> -->
    <a (click)="getroute()" class="btn btn-info" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" role="button">Get Started</a>

  </div>
</section><!-- End Hero -->








<footer>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);padding-bottom: 30px;">
    © 2020 Copyright:
    <a class="text-dark" href="https://github.com/srivatsamalali/EMS.git">Blazzers</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->








