
<div>
<div  >
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Educlass</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="AboutUs">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="check">Details</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
              <!-- <div class="dropdown" style="padding-left: 20px;">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  More options
                </button>
              <div class="dropdown-menu">
                    <a class="nav-item nav-link" routerLink="button">Student Portal</a>
                    <a class="nav-item nav-link" routerLink="button2">Lecturer Portal</a>
                    <a class="dropdown-item" href="">Support</a>
                     <a class="nav-item nav-link " (click)="logout()" style="cursor:pointer;">Logout</a>
                  </div>
                </div> -->
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                    </ul>
                  </li> -->

              <li class="nav-item">
                <a class="nav-link" href="ContactPage" tabindex="-1" aria-disabled="true">Contact</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

          </div>
        </div>
      </nav>

      <router-outlet></router-outlet>


  </div>
</div>
</div>

</div>


