
.bg-img {
    /* The image used */
    /* background-image: url("edu1.jpg"); */
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }

  