



<h1 style="text-align: center; padding-top: 4%;">Student Details</h1>
<div style="text-align:center; align-items: center;padding-top: 50px;cursor:pointer">
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <table class="table" class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Stduent ID</th>
        <th>Student Name</th>
        <th>Contact</th>
        <th>Semester</th>
        <th>Email</th>
        <th>Address</th>
        <th>Fees</th>
        <th>Result</th>
        <th>Edit</th>
        <th>Delete</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let record of studentsList" >
            <th scope="row">{{record.id}}</th>
            <td>{{record.name}}</td>
            <td>{{record.contact}}</td>
            <td>{{record.semester}}</td>
            <td>{{record.email}}</td>
            <td>{{record.address}}</td>
            <td>{{record.fees}}</td>
            <td>{{record.result}}</td>
            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              (click)="editDetails(record.id,record.name,record.email,record.semester,record.fees,record.result,record.address,record.contact)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="delete(record.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Student Edit Page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #fom="ngForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Id</label>
            <input type="number" class="form-control" value={{id}} [(ngModel)]="id" name="id" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" [(ngModel)]="email" value={{email}} name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" value={{name}} name="name" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Semester</label>
            <input type="text" class="form-control" [(ngModel)]="semester" value={{semester}} name="semester" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Fees</label>
            <input type="text" class="form-control" [(ngModel)]="fees" value={{fees}} name="fees" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Result</label>
            <input type="text" class="form-control" [(ngModel)]="result" value={{result}} name="result" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contact</label>
            <input type="text" class="form-control" [(ngModel)]="number" value={{number}} name="number" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Address</label>
            <input type="text" class="form-control" [(ngModel)]="address" value={{address}} name="address" id="exampleInputPassword1">
          </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="editStudent()" data-bs-dismiss="modal">Submit</button>
      </div>
    </form>

    </div>
  </div>
</div>
